## ===============================================================

In [666]:
df['t_LAST_DELTA'] = [1 if x > 6 else -1 if x < -6 else 0 for x in df['t_LAST_DELTA']]

C:\Users\Henrique\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [667]:
df['t_LAST_DELTA'].describe()

count    12442.000000
mean         0.014869
std          0.453642
min         -1.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: t_LAST_DELTA, dtype: float64

In [668]:
max(df['Vx'])

57.612439910976526

In [669]:
indexes = df[df['t_LAST_DELTA'] == 0].index
random_indexes = np.random.choice(indexes, 8000, replace= False)
df = df.drop(random_indexes)

In [670]:
df[df['t_LAST_DELTA'] == -1]

,t_LAST,iOsMA,iCCI,iMFI,iRSI,iStochastic,iWPR,Vx,Vy,day sin,day cos,t_LAST_DELTA
2,-4.372377,1.0,0,0,0,0,0,1.229488,26.915934,-0.030539,-0.999534,-1
3,-6.976229,1.0,0,0,0,0,0,-26.808411,14.532486,-0.034899,-0.999391,-1
20,-2.142751,-1.0,0,0,0,0,0,15.042315,-11.303566,-0.108867,-0.994056,-1
21,-2.793714,-1.0,0,0,0,0,0,17.516385,19.771911,-0.113203,-0.993572,-1
124,16.834594,-1.0,0,0,0,1,0,13.974259,10.500975,-0.533615,-0.845728,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
12270,2.914768,1.0,1,1,1,1,1,0.233330,17.378434,-0.998630,-0.052336,-1
12271,3.565731,1.0,1,1,1,1,1,17.662570,6.214643,-0.998848,-0.047978,-1
12272,-1.351663,1.0,1,1,1,1,1,0.000997,0.000077,-0.999048,-0.043619,-1
12278,-5.257440,1.0,1,1,1,1,1,-12.722625,-1.087272,-0.999848,-0.017452,-1
12281,-7.210329,1.0,1,1,1,0,0,-2.168183,-16.817813,-0.999990,-0.004363,-1

In [671]:
df['t_LAST_DELTA'] = df['t_LAST_DELTA'].astype('category')

In [672]:
df['t_LAST_DELTA']

2       -1
3       -1
11       1
12       1
20      -1
        ..
12399    0
12420    1
12421    1
12425    0
12427    0
Name: t_LAST_DELTA, Length: 4442, dtype: category
Categories (3, int64): [-1, 0, 1]

## =================================================================